<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="col-sm-12 mt-5" th:object="${postForm}">
        <h1 th:text="*{title}">Title</h1>
        <div th:text="*{introduce}"> Introduce </div>
        <div th:utext="*{html}">Content</div>

        <a th:href="@{/}" class="btn btn-primary">Go back</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>