<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>작성자</th>
                <th>희망 직무</th>
                <th>제목</th>
                <th>오늘의 한줄</th>
                <th>오늘의 공부 내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}"> <!-- thymeleaf의 장점. html 문법을 그대로 사용해서 표현할 수 있음 -->
                <td th:text="${post.member.name}"></td>
                <td th:text="${post.member.desiredJob}"></td>
                <td th:text="${post.title}"></td> <!-- ?는 Null이면 아예 진행하지 않겠다는 것-->
                <td th:text="${post.introduce}"></td>
                <td th:text="${post.text}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>