<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--thymeleaf를 사용하게 끔-->
<head th:replace="fragments/header :: header"> <!-- 자주사용하는 header format을 include하는 것--> <!-- fragments의 header파일의 header 부분을 include-->
    <title>SeMoGong</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/> <!-- include -->
    <div class="jumbotron">
        <h1>SeMoGong</h1>
        <p class="lead">세모공 회원</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/join">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
        </p>
        <p class="lead">오늘의 공부</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts/new">게시글 등록</a>
            <a class="btn btn-lg btn-dark" href="/posts">게시글 목록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"/> <!-- include -->
</div> <!-- /container -->
</body>
</html>